<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;700&display=swap"
        rel="stylesheet">
    <link href="../style/clear__css.css" th:href="@{style/clear__css.css}" rel="stylesheet">
    <link href="../style/style.css" th:href="@{style/style.css}" rel="stylesheet">
    <link href="../style//media.css" th:href="@{style/media.css}" rel="stylesheet">
    <link href="../style//progect.css" th:href="@{style/progect.css}" rel="stylesheet">
    <link rel="/preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="image/favicon.png">
    <script src="../js/jquery.js"></script>
    <script src="../js/jq.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">.
    <meta charset=utf-8>


    <title>Document Generator</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="index.html" th:href="@{/}">
                <img class="header__image" src="../image/horizontal_on_white_by_logaster.png"
                    th:src="@{image/horizontal_on_white_by_logaster.png}" alt="Logo Img">
            </a>
            <div class="header__menu">
                <a href="index.html" th:href="@{/skill}" class="header__link">skill</a>
                <a href="project" th:href="@{/project}" class="header__link">project </a>
                <img class="header__link__image" src="../image/setting.svg" alt="">
                <a href="#" th:href="@{/contact}" class="header__link">contact</a>
            </div>
        </div>
        <div class="p__generator  ">
            <form action="/file" method="post">
                <div class="enter__file ">
                    <input class="add_file " type="file" name="files">
                    <input class="read__btn" type="submit" value="Load">
                    <div class="options"> <img id='add_field' class="image__addDel__class" src="../image/add_field.png"
                            alt=""></div>
                </div>
                <div id="options" class="options">
                    "<div class='field'>
                        <label for='files'>Name</label>
                        <input id='nameField' type='text' value='volume'>
                        <label for='files'>Value</label>
                        <input id='valueField' type='text' value='52.00'>
                        <img id='add_field' class="image__addDel__class" src='../image/add_field.png'
                            alt='Image not found'>
                        <img id='del_field' class="image__addDel__class" src='../image/del_field.png'
                            alt='Image not found'>
                        <img id='setText' class="image__addDel__class" src='../image/add.png' alt='Image not found'
                            onfocus='false'>
                    </div>
                </div>
            </form>
        </div>
        <div class="text">
            <textarea id="textareaText" name="text">
               ТОВ "ОККО-ДРАЙВ"
               АЗС з магазином №КВ41
    м.Київ, Оболонський р-н, вул.Лугова, буд.2
                  ПН 201223903188
   ---------------------------------------------
   Филипова П. В.
   ПРК №4,Кран №2, Резервуар №1
   55,18 л х 33,99 
   2710124512#Pulls A-95-Євро5-Е5    1563,25  Б
   Код: 22242
   --------------------------------------------
   СУМА, ГРН.                          1875,50   
      ПДВ Б=20,00%                       312,58 
   --------------------------------------------
   ГОТIВКА                              1875,50 
   ТРН:300086645902021052347822451 
   Fishka: ********95796
   Учасник: Дмитрий
   НАРАХОВАНО балами:
   27.59 грн
   знижка на пальне:
     персональна: 27.59 грн
   (0.5 грн/л)
   ДОСТУПНО балами:
   360.59  
   В РЕЗЕРВI балами: 27.59 грн
   --------------------------------------------
       Дякуємо за покупку, заходьте ще !!!
   ЧЕК№4529       Дата 04.09.2020  Час 21:02:15*
   Док.№00725641   ЗН LV00000772   ФН 3000872590
       ФІСКАЛЬНИЙ ЧЕК

            </textarea>
        </div>
        <div id="editorText" contenteditable="true"
  style="height: 50%; width: 100%; border: solid; border-width: 1px; text-align: left; padding :15px">
  ТОВ "ОККО-ДРАЙВ"
  АЗС З Магазином №КВ41
М.Київ, Оболонський Р-Н, Вул.Лугова, Буд.2
     ПН 201223903188
--------------------------------------------
Филипова П. В.
ПРК №4,Кран №2, Резервуар №1
55,18 Л Х 33,99 
2710124512#Pulls A-95-Євро5-Е5                  1563,25  Б
Код: 22242
--------------------------------------------
СУМА, ГРН.                                                                         1875,50   
ПДВ Б=20,00%                                                                 312,58 
--------------------------------------------
ГОТIВКА                              1875,50 
ТРН:300086645902021052347822451 
Fishka: ********95796
Учасник: Дмитрий
НАРАХОВАНО Балами:
27.59 Грн
Знижка На Пальне:
Персональна: 27.59 Грн
(0.5 Грн/Л)
ДОСТУПНО Балами:
360.59  
В РЕЗЕРВI Балами: 27.59 Грн
--------------------------------------------
Дякуємо За Покупку, Заходьте Ще !!!
ЧЕК№4529       Дата 04.09.2020  Час 21:02:15*
Док.№00725641   ЗН LV00000772   ФН 3000872590
ФІСКАЛЬНИЙ ЧЕК
</div>
    </div>
</body>

</html>