<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;700&display=swap"
        rel="stylesheet">
    <link href="../style/clear__css.css" th:href="@{style/clear__css.css}" rel="stylesheet">
    <link href="../style/style.css" th:href="@{style/style.css}" rel="stylesheet">
    <link href="../style//media.css" th:href="@{style/media.css}" rel="stylesheet">
    <link rel="/preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="image/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">.
    <meta charset=utf-8>


    <title>Klevtsov</title>
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <a href="index.html" th:href="@{/}"> 
            <img class="header__image" src="../image/horizontal_on_white_by_logaster.png"
                th:src="@{image/horizontal_on_white_by_logaster.png}" alt="Logo Img">
            </a>
            <div class="header__menu">
                <a href="#" th:href="@{/skill}" class="header__link">skill</a>
                <a href="project" th:href="@{/project}" class="header__link">project </a>
                <img class="header__link__image" src="../image/setting.svg" alt="">
                <a href="#" th:href="@{/contact}" class="header__link">contact</a>
            </div>
        
        </div>
        
        <div class="content">
            <a href="document__generator.html" th:href="@{/document__generator}">
                document__generator
            </a>
        </div>


        

       





      
        <footer class="footer">
            <div class="footer__top">
                <div class="link">
                    <p>My social media links:</p>
                    <div>
                        <a href="#"><img src="../image/linkedin-svgrepo-com 1.svg"
                                th:src="@{image/linkedin-svgrepo-com 1.svg}" alt=""></a>
                        <a href="#"><img src="../image/whatsapp-svgrepo-com 1.svg"
                                th:src="@{image/whatsapp-svgrepo-com 1.svg}" alt=""></a>
                        <a href="#"><img src="../image/twitter-svgrepo-com 1.svg"
                                th:src="@{image/twitter-svgrepo-com 1.svg}" alt=""></a>
                        <a href="#"><img src="../image/gmail-svgrepo-com 1.svg" th:src="@{image/gmail-svgrepo-com 1.svg}"
                                alt=""></a>
                    </div>
                </div>
                <div class="github">
                    <p>Where to get my code:</p>
                    <div class="git__logo">
                        <a href=""> <img src="../image/github-svgrepo-com 1.svg" th:src="@{image/github-svgrepo-com 1.svg}" alt="">
                        </a>
                        <span> @john-doe on github</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
</body>

</html>