HELP.md
target/
test/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### GULP ###
/src/main/**/#src/
/src/main/**/node_modules/**
/src/main/**/gulpfile.js
/src/main/**/package.json

/src/main/**/package-lock.json
/src/main/**/readme.txt
out/**
package-lock.json



