@import "../style/clear_css.css";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
}
.header__logo {
  width: 450px;
}
.header__img {
  max-width: 200px;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header__link {
  font-size: 20px;
  font-weight: 600;
  margin-right: 35px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  flex-wrap: wrap;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  color: chocolate;
  opacity: 0.5;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.container.row::after {
  content: "";
  position: relative;
  top: 0px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 50px;
}

.name__about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name__contact {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.name__item > a {
  display: flex;
  align-items: center;
}
.name__item > a:hover {
  opacity: 0.5;
}
.name__my {
  font-size: 22px;
  font-weight: 700;
}
.name__link {
  margin: 5px 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: all 0.3s;
  text-transform: lowercase;
}
.name__text {
  color: silver;
  padding: 15px;
}
.name__image {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.name__logo {
  margin-left: 150px;
  max-width: 250px;
  border-radius: 30px;
}

.item-phone {
  display: flex;
}

.watsapp::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/whatsapp-svgrepo-com.svg");
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.telegram::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/telegram-svgrepo-com.svg");
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.phone {
  display: flex;
  align-items: center;
}
.phone::before {
  content: "";
  margin-right: 15px;
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/phone.svg");
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.mail {
  display: flex;
  align-items: center;
}
.mail::before {
  content: "";
  margin-right: 15px;
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/email-svgrepo-com.svg");
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.github {
  display: flex;
  align-items: center;
}
.github::before {
  content: "";
  margin-right: 15px;
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/icons8-github.svg");
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}/*# sourceMappingURL=body.css.map */