@mixin link ($img, $w, $h) {
    width: $w;
    height: $h;
    background-image: url($img);
    background-size: $w, $h;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

@import "../style/clear_css.css";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: capitalize;
}

// Header
.header {
    display: flex;
    justify-content: center;
    padding :10px;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 90px;


    }

    &__logo {
        width: 450px;
    }

    &__item {}

    &__img {
        max-width: 200px;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__link {
        font-size: 20px;
        font-weight: 600;
        margin-right: 35px;
        color: black;
        text-decoration: none;
        transition: all 0.3s;
        flex-wrap: wrap;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: chocolate;
            opacity: 0.5;
        }
    }
}

.container {
    width: 1440px;
    margin: 0 auto;

    &.row {
        &::after {
            content: '';
            position: relative;
            top: 0px;
            left: 10%;
            width: 80%;
            height: 2px;
            background-color: black;
            display: block;
            margin-bottom: 50px;
        }
    }
}

// Block name


.name {

    &__about {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__contact {
        display: flex;
        flex-direction: column;
        width: 450px;

    }

    &__item {

        &>a {
            display: flex;
            align-items: center;
        }

        &>a:hover {
            opacity: 0.5;
        }
    }

    &__my {
        font-size: 22px;
        font-weight: 700;
    }

    &__link {
        margin: 5px 5px;
        font-size: 18px;
        text-decoration: none;
        color: black;
        font-weight: 400;
        transition: all 0.3s;
        text-transform: lowercase;
    }

    &__text {
        color: silver;
        padding: 15px;
    }

    &__image {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    &__logo {
        margin-left: 150px;
        max-width: 250px;
        border-radius: 30px;
    }
}

.item-phone {
    display: flex;
}

.watsapp {
    &::before {
        content: '';
        @include link('../image/contactInfo/whatsapp-svgrepo-com.svg', 35px, 35px);
    }
}

.telegram {
    &::before {
        content: '';
        @include link('../image/contactInfo/telegram-svgrepo-com.svg', 35px, 35px);
    }
}

.phone {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        margin-right: 15px;
        @include link('../image/contactInfo/phone.svg', 35px, 35px);
    }

}

.mail {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        margin-right: 15px;

        @include link('../image/contactInfo/email-svgrepo-com.svg', 35px, 35px);
    }
}

.github {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        margin-right: 15px;

        @include link('../image/contactInfo/icons8-github.svg', 35px, 35px);
    }
}