body {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px;
}

.wrapper {
  max-height: 100%;
  border: 1px solid gold;
}

.header_content {
  display: flex;
}
.header__logo {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 250px 10px 0;
  flex: 1 1 auto;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.header__nav > a:hover {
  opacity: 0.5;
}
.header__link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: 35px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row:after {
  content: "";
  width: 90%;
  height: 1px;
  left: 5%;
  background: linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(0, 0, 0) 50%, rgb(237, 237, 237) 100%);
  display: inline-block;
}

.header-img {
  max-width: 250px;
}

.name__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 35px 0;
}
.name__info {
  padding: 25px 150px 25px 25px;
  line-height: 45px;
  max-width: 450px;
}
.name__info > p {
  color: black;
  line-height: 25px;
}
.name__info > a {
  text-decoration: none;
}
.name__info > a:hover {
  opacity: 0.5;
}
.name__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.name__item > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.name__item > a:hover {
  opacity: 0.5;
}
.name__image > img {
  max-width: 250px;
  border-radius: 25px;
}

.sity::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/city-svgrepo-com.svg");
  background-position: center center;
  background-size: 35px 35px;
  display: inline-block;
  margin-right: 15px;
}

.phone__telegram::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/telegram-svgrepo-com.svg");
  background-position: center center;
  background-size: 35px 35px;
  display: inline-block;
  margin-right: 15px;
}
.phone__watsapp::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/whatsapp-svgrepo-com.svg");
  background-position: center center;
  background-size: 35px 35px;
  display: inline-block;
  margin-right: 15px;
}

.mail::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/email-svgrepo-com.svg");
  background-position: center center;
  background-size: 35px 35px;
  display: inline-block;
  margin-right: 15px;
}

.github::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../image/contactInfo/icons8-github.svg");
  background-position: center center;
  background-size: 35px 35px;
  display: inline-block;
  margin-right: 15px;
}

.skills {
  padding: 50px;
}
.skills__image > img {
  max-width: 450px;
}

.scills__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.about {
  color: coral;
  padding-top: 20px;
}

.info {
  display: flex;
}
.info__text {
  width: 450px;
  color: black;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */